/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* ----------- FONTS ----------- */

@font-face {
 font-display:swap;
 font-family:'Untitled Sans';
 src:url(../fonts/untitled-sans-web-regular.eot);
 src:url(/2c3e0e6bdda615746e83c4bfc131014dd26623ac/d67d2/fonts/untitled-sans-web-regular.eot#iefix) format("embedded-opentype"),
 url(../fonts/untitled-sans-web-regular.woff2) format("woff2"),
 url(/a44e1e3063f87afa3da3e8acb656db21648e0c3f/3291b/fonts/untitled-sans-web-regular.woff) format("woff");
 font-weight:400;
 font-style:normal
}

@font-face {
 font-display:swap;
 font-family:'Tiempos Headline';
 src:url(/97add1969fd7aed4a3fc373926338c5d77c77b28/74f04/fonts/tiempos-headline-web-light.eot);
 src:url(/97add1969fd7aed4a3fc373926338c5d77c77b28/74f04/fonts/tiempos-headline-web-light.eot#iefix) format("embedded-opentype"),
 url(../fonts/tiempos-headline-web-light.woff2) format("woff2"),
 url(/ee9df24011cda810e8af93b1a24cfa4485a2384a/bc465/fonts/tiempos-headline-web-light.woff) format("woff");
 font-weight:300;
 font-style:normal
}

@font-face {
 font-display:swap;
 font-family:'Tiempos Headline';
 src:url(/502d78b3510de0124343e3f2d3b5d96e8b6d6b0b/c992f/fonts/tiempos-headline-web-regular.eot);
 src:url(/502d78b3510de0124343e3f2d3b5d96e8b6d6b0b/c992f/fonts/tiempos-headline-web-regular.eot#iefix) format("embedded-opentype"),
 url(../fonts/tiempos-headline-web-regular.woff2) format("woff2"),
 url(/7b34b9aa97e9772228f209339012672375fdb31e/6ba93/fonts/tiempos-headline-web-regular.woff) format("woff");
 font-weight:400;
 font-style:normal
}

@font-face {
 font-display:swap;
 font-family:DIN;
 src:url(../fonts/ff-din.woff2) format("woff2"),
 url(/522b238ccb0e9ef359412c0caae546f560ff1dc3/3affd/fonts/ff-din.woff) format("woff");
 font-weight:500;
 font-style:normal
}

@font-face {
 font-display:swap;
 font-family:'Sohne Mono Buch';
 src:url(/95145251bc5236c3c514de082663a72b3bd8bb01/5d7bc/fonts/soehne-mono-web-buch.eot);
 src:url(/95145251bc5236c3c514de082663a72b3bd8bb01/5d7bc/fonts/soehne-mono-web-buch.eot#iefix) format("embedded-opentype"),
 url(../fonts/soehne-mono-web-buch.woff2) format("woff2"),
 url(/d625cfa0a9ff13916d6a4d92935d9d2689df30a9/3f3f3/fonts/soehne-mono-web-buch.woff) format("woff");
 font-weight:400;
 font-style:normal
}

/* ----------- Headers & Paragraphs ----------- */

h1 {
  font-family: 'Tiempos Headline','Times','Georgia',serif;
  margin-top: 0;
  font-size: calc(2.6em + 1vw);
  line-height: 1.18em;
  font-weight: 100;
}

h2 {
  font-family: 'Tiempos Headline','Times','Georgia',serif;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.4em;
  padding-bottom: 0.7em;
  margin-left: 1.43em;
  margin-right: 1.43em;
  font-size: 2.625em;
  line-height: 1.15em;
  border-bottom: 0.063em solid white;
  border-bottom-width: 0.07em;
  position: relative;
  text-transform: none;
}

section:nth-of-type(5) h2 {
  margin-left: 0;
}

section p {
  font-family: 'Untitled Sans',Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 1.125em;
  line-height: 1.5em;
  text-transform: none;
  list-style: none;
  font-variant: none;
  padding-bottom: 13.6em;
  max-width: 38ch;
}

section a p {
  font-family: 'DIN',Helvetica,Arial,sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  text-transform: uppercase;
  list-style: none;
  font-variant: none;
  margin: 0;
  padding-left: 2.95em;
  padding-right: 2.95em;
  padding-bottom: 0em;
}

section p a {
  font-family: 'DIN',Helvetica,Arial,sans-serif;
  padding-bottom: 0em;
}

section p:nth-of-type(2) {
  padding-bottom: 0;
}

footer p {
  grid-area: b;
  font-family: 'DIN',Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 0.875em;
  line-height: 1.250em;
  text-transform: uppercase;
  margin: 0;
}

path {
  fill-rule: evenodd; 
  clip-rule: evenodd;
  fill:white; 
}

footer a svg path {
  fill-rule: evenodd; 
  clip-rule: evenodd;
  fill:#858585;
}

/* ----------- Body ----------- */

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }

body {
  color: white;
  margin: 0;
  overflow-x: hidden;
}

/* ----------- Grid ----------- */

main {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33vw, 1fr));
  grid-template-rows: 41.25em 45.625em 40.625em;
  grid-template-areas:
    'a a a'
    'b c d'
    'e e e'
  ;
}

section:nth-of-type(1) {
  grid-area: a;
  background-color: #b4bdcb;
  padding-bottom: 12.5em;
  padding-top: 12.5em;
  padding-left: 3.75em;
}

section:nth-of-type(1) img {
  position: relative;
  width: 100vw;
  height: 100vh;
}

section:nth-of-type(2) {
  grid-area: b;
  background-color: #C9A3A4;
  position: relative;
  transition: all 400ms ease;
}

section:nth-of-type(2):hover {
  background-color:#d4b8b9;
}

section:nth-of-type(3) {
  grid-area: c;
  background-color: #A7CEEF;
  position: relative;
  transition: all 400ms ease;
}

section:nth-of-type(3):hover {
  background-color:#bad8f1;
}

section:nth-of-type(4) {
  grid-area: d;
  background-color: #ACB5AC;
  position: relative;
  transition: all 400ms ease;
}

section:nth-of-type(4):hover {
  background-color:#bec5bf;
}

section:nth-of-type(5) {
  grid-area: e;
  background: url(../images/homepage-footer.jpg) no-repeat top center/cover;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 3.75em;
}

button {
  opacity: 0;
  position: absolute;
  color: white;
  top: 1.8em;
  right: 0.58em;
  font-size: 2em;
  font-weight: 600;
  background-color: transparent;
  border: none;
  z-index: 100000;
}

header a::after, footer a::after {
  display: none;
}

li a::after {
  display: block;
}

li button {
  color: #0b2436;
  margin-top: 20em;
}

ul:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    top: 0;
    color: #0b2436;
    padding: 2em;
    padding-top: 20em;
    left: -100%;
    background: white;
    height: 100vh;
    background-color: white;
    width: 100vw;
    transition: all 0.3s ease-in;
    z-index: 10000;
}

ul:nth-of-type(2) li {
    margin-bottom: 1em;
    color: #0b2436;
    background-color: grey;
}

.openMenu ul:nth-of-type(2) {
    left: 0;
    opacity: 1;
    padding-top: 20em;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
  position: relative;
}

a::after {
  background-color: white;
  content: "";
  display: block;
  height: 2px;
  width: 15px;
  position: absolute;
  right: -18px;
  top: 50%;
  transform-origin: left center;
  transition: transform .2s ease-in-out,color .2s ease-in-out;
  transform: scaleX(0);
}

a:hover::after {
  transform: scaleX(1);
}


/* ----------- States ----------- */

a:visited {
  color: #ededed;
}

a:focus {
  text-decoration:underline;
}

a:hover {
  text-decoration:underline;
}

a:active {
  color: #d4d4d4;
  text-decoration:underline;
}

section:nth-of-type(2) a, section:nth-of-type(3) a, section:nth-of-type(4) a {
  text-decoration: none;
}

section:nth-of-type(2) a:hover::after, section:nth-of-type(3) a:hover::after, section:nth-of-type(4) a:hover::after {
  transform: scaleX(0);
}

img {
  height: 26em;
  margin-bottom: 2.5em;
  padding-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

header {
  padding:  3.75em 3.75em 0em 3.75em;
  position: absolute;
  width: 100%;
}

path {
  height: 2em;
  width: auto;
}

footer a svg {
  height: 2em;
  width: auto;
}

nav {
  margin-top: -9.6em;
}

nav ul {
    font-family: 'DIN',Helvetica,Arial,sans-serif;
    font-weight: medium;
    font-size: 0.875em;
    line-height: 1.25em;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}

footer {
  padding: 3.75em;
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-gap: 1.25em;
  background-color: #f2f7f7;
  color: #858585;
  grid-template-areas: 
    "a b b b . . c c d d d d"
  ;
}

footer a {
  color: #858585;
}

footer nav {
  grid-area: c;
  margin-top: 0em;
  text-align: left;
}

footer nav ul {
  text-align: left;
}

footer ul {
  grid-area: d;
  margin: 0;
  color: #858585;
  list-style: none;
  text-transform: uppercase;
}

footer ul li a {
  color: #858585;
    font-family: 'DIN',Helvetica,Arial,sans-serif;
}

input {
  padding-bottom: .1em;
  font-family: 'DIN',Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid hsl(240 2% 74% / 1);
  box-shadow: none;
  padding-left: 0;
  transition: border 225ms;
  width: 100%;
}

input::placeholder {
  color: hsl(240deg 2% 75%);
}

/* ----------- Extra foefje ----------- */

input[type=checkbox] {
display:none;
}

input[type=checkbox] + label
{
  margin-left: auto;
  cursor: pointer;
  height: 2em;
  width: 2em;
  padding: 0;
  background-image: url(../images/diamantzw.png);
  background-size: 100%;
}

input[type=checkbox]:checked + label
{
  margin-left: auto;
  cursor: pointer;
  height: 2em;
  width: 2em;
  padding: 0;
  background-image: url(../images/diamant.png);
  background-size: 100%
}

/* ----------- About ----------- */

main.about {
  background-color: #d5b795;
  grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
  grid-template-areas:
    'a'
    'b'
  ;
  grid-template-rows: 41.25em 40.625em;
}

section.about:nth-of-type(1) {
  background-color: #d5b795;
}

.about section:nth-of-type(2) {
  background-color: #fff;
  grid-area: b;
}

.about h2 {
  width: 42%;
  color: black;
  border-bottom: 0.063em solid black
}

.about section:nth-of-type(2) p {
  color: black;
  padding-left: 3.3em;
}

.about section p {
    padding-bottom: 0em;
}

.about section img {
  height: 32em;
  margin-right: 7em;
  margin-top: -35.2em;
}

.aboutFooter {
  background-color: #f7f7f7;
}

/* ----------- Media Queries ----------- */

@media (min-width: 70em) {
  section:nth-of-type(1) {
  background:#b1bfcc url(../images/homepage-hero.png) no-repeat right bottom/contain
 }
}

@media (min-width: 70em) {
  .about section:nth-of-type(1) {
  background:#d5b795 url(https://d33wubrfki0l68.cloudfront.net/30d22e6da4bc682468105d0fce4897116d29b47b/5cc16/images/tan_hero_mobile.png) no-repeat right bottom/contain;
 }
}

@media (max-width: 70em) {
  .about section:nth-of-type(1) {
  background:#d5b795;
 }
}
@media (max-width: 70.313em) {
  main {
  grid-template-rows: 41.25em 45.625em 45.625em 45.625em 45.625em;
  grid-template-areas:
    'a a a'
    'b b b'
    'c c c'
    'd d d'
    'e e e'
  ;
  }
}

@media (max-width: 57em) {
  footer {
  padding: 1.9em;
  grid-template-areas: 
    "a a a . . . . b b b b b"
  ;
  }
  footer nav {
  display: none;
  }
  footer ul {
  display: none;
  }
}

@media (max-width: 48em) {
  nav ul:nth-of-type(1) {
    display: none;
  }
  button {
    opacity: 1;
  }
  ul:nth-of-type(2) {
    opacity: 0;
  }
  section:nth-of-type(1) {
    padding-left: 1.9em;
  }
  header {
    padding: 3.75em 1.9em 1.9em 1.9em;
  }
  h2 {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
  section a p {
    padding-left: 1.55em;
    padding-right: 1.55em;
  }
  section:nth-of-type(5) {
  padding-left: 2em;
  }
  footer {
  padding: 1.9em;
  }
}
